# private 폴더 제외
private/

# CocoaPods 관련 파일 제외
Podfile.lock
Pods/

# 앱 정보 관련 파일 제외
MeloMeter/Info.plist
MeloMeter/GoogleService-Info.plist

# 빌드 관련 캐시 파일 제외
MeloMeter.xcodeproj/xcuserdata/lts.xcuserdatad/xcschemes/xcschememanagement.plist
MeloMeter.xcworkspace/xcuserdata/lts.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MeloMeter.xcworkspace/xcuserdata/lts.xcuserdatad/xcschemes/xcschememanagement.plist
MeloMeter.xcworkspace/xcuserdata/lts.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
